header {
    font-family: Arial, sans-serif;
    background-color: #ffe6f0; 
    margin: 0px;
    padding: 0px;
    height: 100px;
}

h1, p {
    text-align: center;
    color: #ff6699;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f0; 
    height: 100vh;
}

form {
    background-color: #ffccdd;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-inline: auto;
}


label.quantidade {
    display: block;
    margin-bottom: 5px;
    color: #ff3377;
}

input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ff99bb;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff99bb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ff6699;
}

p.gene {
    display: flex;
    justify-content: center;
    align-items: center;
}
